body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
	color: #333333;
	margin: 0;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
h1 {
	font-weight: normal;
	text-align: center;
}
h2 {
	font-weight: normal;
	font-size: 1.25rem;
	color: #000;
}

footer {
	border-top: 1px solid #efefef;
	text-align: center;
	padding: 30px !important;
	margin-top: 30px !important;
}
.wrapper {
	width: 100%;
	max-width: 768px;
	margin: auto;
	box-sizing: border-box;
	padding: 0px 10px;
}
.mono {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 0.9rem;
}
.faq {
	margin: 2rem auto;
}
.faq h3 {
	font-weight: normal;
	line-height: 1;
	margin: 1rem auto;
	padding: 0;
	color: #000000;
}
.faq p {}
#home {
	min-height: 90vh;
}
#brand {
	font-size: 3rem;
	text-align: center;
	padding-top: 5rem;
}
#brand #logo {
	width: 3rem;
	height: 3rem;
	display: inline-block;
	position: relative;
	top: 0.6rem;
}
#desc {
	text-align: center;
	font-size: 1.5rem;
	line-height: 3;
}
#randomwrap {
	margin-top: 3rem;
}
#randombox {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	margin: auto;
	border-radius: 10px;
}
#randombox input {
	flex: 1;
	font-size: 1rem;
	background: none;
	border: none;
	outline: 0;
	padding: 15px 10px;
	background: #efefef;
	color: #333333;
	border-radius: 5px;
}
#randombox button {
	font-size: 0.9rem;
	padding: 15px 10px;
	background: none;
	border: none;
	background: #3498db;
	color: #ffffff;
	border-radius: 0;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px auto;
}
#nav {
	text-align: center;
	margin-top: 10vh;
}
#nav a {
	color: inherit;
	text-decoration: none;
}
#nav a:hover {
	text-decoration: underline;
}

#buy {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 10;
	background: #ffffff;
	display: none;
}
#privateform {
	width: 480px;
	margin: auto;
}
#privateform input {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	box-sizing: border-box;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
}
#privateform input.red {
	color: red;
	border-color: red;
}
#privateform .info {
	font-size: 0.7rem;
}
#privateform .dark {
	color: #27ae60;
}
#close {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 1rem;
	z-index: 50;
	color: inherit;
	text-decoration: none;
	font-size: 2rem;
	line-height: 1rem;
}
#generateBtn {
	float: right;
	margin-top: 5px;
}
#nextBtn {
	width: 100%;
	display: block;
	padding: 10px;
	font-size: 1rem;
	border: none;
	background: #2980b9;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
#notice {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	padding: .75rem 1.25rem;
	border-radius: .25rem;
	margin: 10px auto;
}
