body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
	color: #333333;
	margin: 0;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
.wrapper {
	width: 100%;
	max-width: 768px;
	margin: auto;
	box-sizing: border-box;
	padding: 0px 10px;
}
.mono {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 0.9rem;
}
#home {
	min-height: 80vh;
}
#brand {
	font-size: 3rem;
	text-align: center;
	padding-top: 5rem;
}
#brand #logo {
	width: 3rem;
	height: 3rem;
	display: inline-block;
	position: relative;
	top: 0.6rem;
}
#desc {
	text-align: center;
	font-size: 1.5rem;
	line-height: 3;
}
#randomwrap {
	margin-top: 3rem;
}
#randombox {
	display: flex;
	justify-content: space-between;
	/*flex-direction: column;*/
	width: 100%;
	max-width: 560px;
	margin: auto;
	border-radius: 10px;
}
#randombox input {
	flex: 1;
	font-size: 1rem;
	background: none;
	border: none;
	outline: 0;
	padding: 15px 10px;
	background: #efefef;
	color: #333333;
	border-radius: 5px;
	max-width: 440px;
	box-sizing: border-box;
}
#randombox button {
	width: 100px;
	font-size: 0.9rem;
	padding: 15px;
	background: none;
	border: none;
	background: #3498db;
	color: #ffffff;
	border-radius: 0;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
	/*margin: 10px auto;*/
}
#nav {
	text-align: center;
	margin-top: 20vh;
}
